@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    string pageCountText = Translate("Showing page", "Showing page") + " " + GetValue("Ecom:ProductList.CurrentPage") + " " + Translate("of", "of") + " " + GetValue("Ecom:ProductList.TotalPages") + " (" + GetValue("Ecom:ProductList.PageProdCnt") + " " + Translate("products", "products") + ")";
}

<div class="paragraph-container__grid--bleed">
    <div class="grid">
        <div class="grid__col-md-12">
            <div class="grid__cell">
                <div class="u-pull--left">
                    @pageCountText
                </div>
                <div class="u-pull--right">

                </div>
            </div>
        </div>

        @foreach (LoopItem product in GetLoop("Products"))
        {
            string Discount = product.GetString("Ecom:Product.Discount.Price.PriceWithVATFormatted");
            string Price = product.GetString("Ecom:Product.Price.PriceWithVATFormatted");

            <div class="grid__col-md-12">
                <div class="grid grid--border">
                    <div class="grid__col-md-3 grid--align-self-center">
                        @if (Discount != Price)
                        { <div class="sticker dw-mod">@Translate("On sale")</div> }
                        <a href="@product.GetString("Ecom:Product.LinkGroup.Clean")"><img class="grid__cell-img" src="@product.GetString("Ecom:Product.ImageSmall.Default.Clean")" /></a>
                    </div>

                    <div class="grid__col-md-9">
                        <a href="@product.GetString("Ecom:Product.LinkGroup.Clean")"><h4 class="product-list-item__name dw-mod">@product.GetString("Ecom:Product.Name")</h4></a>

                        @product.GetString("Ecom:Product.ShortDescription")

                        <div class="grid__cell-footer product-list-item__footer dw-mod">
                            <div class="grid grid--bleed">
                                <div class="grid__col-md-4 grid__col-sm-4">
                                    @if (Discount != Price)
                                    {
                                    <div class="price dw-mod">@product.GetString("Ecom:Product.Discount.Price.PriceWithVATFormatted")</div>
                                    <div class="before-price dw-mod">@product.GetString("Ecom:Product.Price.PriceWithVATFormatted")</div>
                                    }
                                    else
                                    {
                                    <div class="price dw-mod">@product.GetString("Ecom:Product.Price.PriceWithVATFormatted")</div>
                                    }
                                </div>
                                <div class="grid__col-md-8 grid__col-sm-8">
                                    <div class="grid__cell">
                                        <button type="submit" class="btn btn--primary dw-mod u-pull--right" name="submit" onclick="Cart.AddToCart(event, '@product.GetString("Ecom:Product.ID")', $(this).siblings('input.quantity').val());">@Translate("Add to cart")</button>
                                        <input type="number" class="u-w50px u-no-margin u-pull--right" name="Quantity" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="grid__col-md-12">
            <div class="grid__cell">
                <div class="u-pull--left">
                    @pageCountText
                </div>
                <div class="u-pull--right">
                    <ul class="pager dw-mod">
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.PrevPage.Clean")))
                        {
                        <li class="pager__btn dw-mod"><a href="@GetString("Ecom:ProductList.PrevPage.Clean")"><i class="fa fa-angle-left"></i></a></li>
                        }

                        @foreach (LoopItem page in GetLoop("Ecom:ProductList.Pages"))
                        {
                            string activeClass = page.GetBoolean("Ecom:ProductList.Pages.Page.IsCurrent") ? "pager__btn--current" : "";
                            <li class="pager__btn @activeClass dw-mod"><a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">@page.GetValue("Ecom:ProductList.Pages.Page.Number")</a></li>
                        }

                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.NextPage.Clean")))
                        {
                        <li class="pager__btn dw-mod"><a href="@GetString("Ecom:ProductList.NextPage.Clean")"><i class="fa fa-angle-right"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
